// Search Cards

.search-container.hidden {
  display: none;
}

.search-container.active {
  .search-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    form {
      margin: 32px 0;
      width: 425px;
      .form-styling {
        width: 100%;
        height: 35px;
        padding-left: 16px;
        border: 1.5px solid $primary-light;
        border-radius: $standard-br * 2;
        &::placeholder {
          color: $primary-light;
        }
        &:focus {
          outline: none;
          color: $primary-light;
        }
      }
    }
    .pagination {
      padding: 0 32px;
      .pagination-button {
        // text-decoration: none;
        color: $primary-dark;
        padding: 0 16px;
      }
    }
  }
  .search-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 120px;
    margin: 48px 0;
    a {
      text-decoration: none;
    }

    // width: 100px;
    // padding: ;
    .search-card {
      border-radius: $standard-br;
      background-size: cover;
      background-position: center;
      height: 270px;
      width: 420px;
      box-shadow: $box-shadow;
      cursor: pointer;
      .search-card > * {
        z-index: 10;
        position: relative;
      }
    }
    .save-search-btn-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .fa-heart-o {
        color: white;
        cursor: pointer;
      }

      .fa-heart {
        color: white;
        cursor: pointer;
      }
      .save-search {
        color: white;
        padding: 18px 24px;
        // a {
        //   text-decoration: none;
        //   list-style: none;
        // }
      }
    }
    .search-content-container {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      height: 85%;
      .search-content {
        color: $alt-text;
        //   position: relative;
        //   bottom: 0;
        padding: 24px 16px;

        h6 {
          line-height: 0.5;
          opacity: 0.7;
        }
        h3 {
          line-height: 1.5;
        }
      }
    }
  }
}
