.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-btn {
    border-radius: 27px;
    border: none;
    padding: 16px 40px;
    margin: 0 16px;
    color: white;
    cursor: pointer;
  }
  #cancel-btn {
    background-color: $secondary-light;
    &:hover {
      background-color: $secondary-dark;
    }
  }
  #book-btn {
    background-color: $primary-light;
    &:hover {
      background-color: $primary-dark;
    }
  }
}

// Save buttons
.save-search > * {
  // z-index: 14;
  color: white;
  padding: 18px 24px;
  // a {
  //   text-decoration: none;
  //   list-style: none;
  // }
}

#heart.far.fa-heart {
  // z-index: 101;
  color: white;
  cursor: pointer;
}

#heart.fas.fa-heart {
  color: red;
  cursor: pointer;
}
