@import "../1-basics/vars.scss";

// Popular
.carousel {
  margin: 5px;
  width: 100%;
  overflow: scroll;
  position: relative;
  box-shadow: border-box;
}

.carousel__container {
  white-space: nowrap;
  margin: 40px 0px;
  padding-bottom: 10px;
}
.carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  width: 425px;
  height: 256px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 16px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
  position: relative;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.26);
}

.carousel-item .info {
  text-align: left;
  line-height: 20px;
  padding: 16px;
}
.carousel-item .info h3 {
  padding-top: 5px;
  cursor: pointer;
}

.carousel-item .info .stars {
  margin-top: -20px;
}

.carousel-item .info .stars i {
  color: $secondary-dark;
  padding: 10px 0;
}

.carousel-item ~ .carousel-item {
  transform: translate3d(20px, 0, 0);
}

.carousel__container:hover .carousel-item:hover {
  transform: scale(1.09);
  opacity: 1;
}

.carousel::-webkit-scrollbar {
  height: 5px;
}
.carousel::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}
.carousel::-webkit-scrollbar-track-piece {
  max-width: 100px;
}
.carousel::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from($secondary-dark),
    to($primary-light),
    color-stop(0.6, $secondary-light)
  );
}
