* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

.carousel {
  margin: 5px;
  width: 100%;
  overflow: scroll;
  position: relative;
  -webkit-box-shadow: border-box;
          box-shadow: border-box;
}

.carousel__container {
  white-space: nowrap;
  margin: 40px 0px;
  padding-bottom: 10px;
}

.carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  width: 425px;
  height: 256px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 16px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  position: relative;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.26);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.26);
}

.carousel-item .info {
  text-align: left;
  line-height: 20px;
  padding: 16px;
}

.carousel-item .info h3 {
  padding-top: 5px;
  cursor: pointer;
}

.carousel-item .info .stars {
  margin-top: -20px;
}

.carousel-item .info .stars i {
  color: #df5e56;
  padding: 10px 0;
}

.carousel-item ~ .carousel-item {
  -webkit-transform: translate3d(20px, 0, 0);
          transform: translate3d(20px, 0, 0);
}

.carousel__container:hover .carousel-item:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  opacity: 1;
}

.carousel::-webkit-scrollbar {
  height: 5px;
}

.carousel::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.carousel::-webkit-scrollbar-track-piece {
  max-width: 100px;
}

.carousel::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#df5e56), to(#23a892), color-stop(0.6, #ff8882));
}

.search-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search-card {
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  height: 270px;
  width: 328px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 53, 50, 0.41);
          box-shadow: 0px 0px 8px 0px rgba(50, 53, 50, 0.41);
  margin: 0 40px;
  cursor: pointer;
}

.save-search {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 18px 24px;
}

.save-search a {
  text-decoration: none;
  list-style: none;
}

.search-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 85%;
}

.search-content {
  color: #f6f7f7;
  padding: 16px;
}

.search-content h6 {
  line-height: 0;
  opacity: 0.7;
}

.search-content h3 {
  line-height: 0;
}

body {
  background-color: black;
}

.saved-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 10px;
  width: 500px;
  cursor: pointer;
}

.saved-card-content {
  color: #465664;
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 16px 24px;
  width: 100%;
}

.saved-card-content h6 {
  opacity: 0.5;
}

body {
  background-color: #fff;
}

.booking-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.booking-details .details {
  margin: 0 8px;
  text-align: center;
  color: #f6f7f7;
}

.booking-details .details h6 {
  font-size: 18px;
  font-weight: 400;
}

.booking-details .details h3 {
  font-size: 48px;
  font-weight: 500;
}

.booking-details .small-info {
  background-color: #23a892;
  padding: 32px 24px;
  border-radius: 20px;
}

.booking-details .big-info {
  background-color: #ff8882;
  padding: 32px 48px;
  border-radius: 20px;
}
/*# sourceMappingURL=main.css.map */